{% extends 'base.html' %}

    {% block content %}
        {% for post in posts %}
            <div class="post">
                <div class="date">
                    {{ post.published_date }}
                </div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                 <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
            </div>
        {% endfor %}

       <ul class="pager">
            {% if posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}"><< previous</a></li>
            {% endif %}

            {% for num in posts.paginator.page_range %}
                {% if num == posts.number %}
                <li class="active"><a href="">{{ num }}<span class="sr-only"></span></a></li>
            {% else %}
               <li><a href="?page={{ num }}">{{ num }}<span class="sr-only"></span></a></li>
                {% endif %}
            {% endfor %}

            {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}">next >></a></li>
             {% endif %}
        </ul>
        

    {% endblock content %}

    {% block nav %}      
       <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <h4>Archives</h4>
            <div class="list-group">
              {% for y in years %}
                  <a href="{% url 'post_list' %}?year={{ y }}" class="list-group-item">{{y}}</a>
              {% endfor%}
            </div>
        </div>
    {% endblock %}
