{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Merriweather&amp;subset=cyrillic" rel="stylesheet">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>The Django blog</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/blog_django.css' %}" rel="stylesheet" >
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
 </head>

  <body>

     <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">MyDjango</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                   <li class = {% block nav_class_logout %}   {% endblock %}><a href="{% url 'logout'%}">Выйти</a></li>
                {% else %}
                   <li class = {% block nav_class_register %}   {% endblock %}><a href="{% url 'registration'%}">Регистрация</a></li>
                   <li class = {% block nav_class_login %}   {% endblock %}><a href="{% url 'login'%}">Войти</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <div class="container">
    <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            <p class="top-menu">Hello {{ user.username }}</p>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1><a href="/">Django Blog</a></h1>
    </div>
      <div class="blog-masthead">
        <div class="container">
          <nav class="blog-nav">
            <a href="{% url 'post_list' %}?subj=python" class="blog-nav-item">Python</a>
            <a href="{% url 'post_list' %}?subj=django" class="blog-nav-item">Django</a>
            <a href="{% url 'post_list' %}?subj=html/css" class="blog-nav-item">HTML/CSS</a>
            <a href="{% url 'post_list' %}?subj=js" class="blog-nav-item">JS</a>
          </nav>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
          {% block content %}
          {% endblock %}

        </div><!-- /.blog-main -->
          {% block nav %}

          {% endblock %}
 

    </div><!--/row-->
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Lyudmyla Kaluzhynova 2017</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <link href="{% static 'js/bootstrap.min.js' %}" >

  </body>
</html>
